*{
    box-sizing: border-box;
}

.container{
    background-color: grey;
    height: 100vh;
}

.box{
    background-color: white;
    border: 3px solid;
    padding: 50px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height: 50%;
}