.gallery{
    display: inline-block;
    border: 3px solid hsl(0, 0%, 50%);
    margin: 5px;
    width: 200px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 3px solid hsl(0, 0%, 5%);
}

.gallery img{
    width: 100%;
    height: auto;
}