h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: hsl(60, 89%, 65%);
}

p::selection{
    color: rgb(78, 252, 119);
    background-color: hsl(0, 0%, 36%);
}

#fruit li::before{
    content: "💙"
}

#fruit li::marker{
    content: "✔";
    color: rgb(9, 238, 9);
    font-size: 1.5em;
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{ 
    content: "🍌";
}